.deals {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    border-radius: 10px;
    width: 225px;
}

.card_deals {
    display: flex;
    padding: 5px 5px;
    margin: 10px;
}